@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
  background-image: url(./media/grid_background.png)
}

h1{
  text-align: center;
}

img{
  margin-left: auto;
  margin-right: auto;
}

.rounded_image_centered{
  border-radius: 50%;
}

.centerMe{
  margin-left: auto;
  margin-right: auto;
  width: 20em
}


.centerMeWide{
  margin-left: auto;
  margin-right: auto;
  width: 15em
}

.block{
  display: block;

}
